@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: white;
  --mainColor: #4263eb;
  /* l: #5c7cfa   d: #364fc7*/
  --grayBackground: #f2f2f7;
  --border: #D9D9D9;
  --bgCardKnowledges: #fff;
  --borderNavBar: #D9D9D9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter';
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}


/* SECTION NAVBAR */
.container-btnsNavBar {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 17.5rem;
  height: 2.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  align-items: center;
  justify-items: center;
  border: solid 1px var(--borderNavBar);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.075);
}

.btnDark,
.btnLight,
.ankerPage {
  border: none;
  background: none;
}

.iconDark,
.iconLight  {
  stroke: var(--mainColor);
  width: 24px;
  height: 24px;
}
.icon-nav {
  stroke: var(--mainColor);
  width: 26px;
  height: 26px;
}





/* SECTION WELCOME */
.section-welcome {
  margin-top: 19rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.wrapper-section-welcome {
  width: 35rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-section-welcome img {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 300px;
  width: 180px;
  height: 180px;
}

.section-welcome-text-container {
  margin-top: 1rem;
  height: 60%;
  width: 90%;
  color: var(--black);
  text-align: center;
}

.section-welcome-text-container h1 {
  font-size: 2.7rem;
  letter-spacing: -1.3px;
}

.section-welcome-text-container p {
  font-size: 1.7rem;
  letter-spacing: -1px;
  line-height: 1.6;
}



/* SECTION KNOWLEDGES */
.section-knowledges,
.section-projects {
  margin-top: 12rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-knowledges h1,
.section-projects h1 {
  width: 90%;
  margin: 2.5rem 0;
  text-align: center;
  font-size: 3rem;
  letter-spacing: -1.2px;
  line-height: 1.1;
}

.wrapper-section-knowledges {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
  gap: 1.3rem .8rem;
  align-items: center;
  justify-items: center;
}

.card-knowledges {
  border: none;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
  height: 5.5rem;
  width: 8.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--bgCardKnowledges);
}

.card-knowledges:hover {
  margin-top: -.5rem;
}

.card-knowledges h1,
.card-projects h1 {
  font-family: 'Inter';
  letter-spacing: -.5px;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: black;
}

.kn1 {
  background: linear-gradient(to right bottom, #afffee, #00fb75);
}

.kn2 {
  background: linear-gradient(to top left, #ffcb30, #ffd43b);
}

.kn3 {
  background: linear-gradient(to right bottom, #80c4fc 10%, #369cf5);
}

.kn4 {
  background: linear-gradient(to right bottom, #FFCDA5 10%, #EE4D5F);
}

.kn5 {
  background: linear-gradient(to right bottom, #efb7d1 10%, #91beea);
}

.kn6 {
  background: linear-gradient(to top left, #38d9a9, #63e6be);
}

.kn7 {
  background: linear-gradient(to top left, #f03e3e, #ff8c8c);
}

.kn8 {
  background: linear-gradient(to right bottom, #a7bfe8 10%, #6190e8);
}


/* Modal */
.modal-skills {
  position: absolute;
  top: 85rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19rem;
  height: 25rem;
  background-color: var(--white);
  border-radius: 18px;
  border: none;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.container-modal-header {
  display: flex;
  align-items: center;
  height: 20%;
  border-radius: 16px 16px 0 0;
  text-align: center;
}

.container-modal-header h1 {
  width: 80%;
  color: black;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

.btn-closeModal {
  width: 20%;
  font-size: 1.8rem;
  color: black;
  border: none;
  background: none;
}

.ul-modal {
  margin: .5rem 0 0 3.8rem;
}

.ul-modal li {
  list-style: disc;
  padding: .7rem 1.7rem 1rem 0;
  font-size: 1.25rem;
}

.below-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 900%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 5;
}


/* SECTION EDUCATION */
.section-education {
  margin-top: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-education h1 {
  text-align: center;
  margin-top: 1.5rem;
  width: 85%;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 2.1rem;
}

.wrapper-section-education {
  width: 100%;
  height: 11rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-education {
  margin: 0 .7rem 0 1.1rem;
  width: 12rem;
  height: 7rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 15px 10px rgba(0, 0, 0, 0.038);
}

a img {
  width:60%;
  height: auto;
}

.ceBlue {
  background: linear-gradient(to right bottom, #e6e5ff, #a5b6ff);  
}
.ceWhite {
  background-color: white;
}


/* SECTION PROJECTS */
.section-projects {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
}

/* SECTION UIS */
.section-projects h2 {
  font-size: 4.5rem;
  letter-spacing: -1px;
  line-height: .85;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(18, 18, 18);
  padding: 4rem 0 1rem 0;
  margin: 2.6rem 0 -4px 0;
}
.section-projects p {
  margin-top: -.3rem;
  width: 100%;
  padding-left: 1.4rem;
  font-size: 1.5rem;
  padding-bottom: .5rem;
  color: #fff;
  background-color: rgb(18, 18, 18);
}

.wrapper-section-ui {
  margin-top: -.5rem;
  margin-bottom: -.5rem;
  width: 100%;
  background-color: rgb(18, 18, 18);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
  overflow-x: scroll;
  overflow-y: hidden;
  height: 33rem;
}

.wrapper-section-ui img {
  margin: 0 1rem;
  width: 230px;
}

/* SECTION SCHEDULE */
.section-projects h3 {
  font-size: 3.5rem;
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: white;
  letter-spacing: -1px;
  line-height: .9;
  text-align: center;
  padding: 8rem .5rem 1rem .5rem;
}

.wrapper-section-schedule {
  margin-bottom: -.5rem;
  margin-top: -.9rem;
  width: 100%;
  background-color: rgb(39, 39, 39);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: scroll;
  overflow-y: hidden;
  height: 30rem;
}

.wrapper-section-schedule img {
  padding: 0 1.5rem;
  height: 25rem;
}

/* SECTION COMPILER */
.section-projects h4 {
  font-size: 3.5rem;
  width: 100%;
  background-color: rgb(18, 18, 18);
  color: white;
  letter-spacing: -1px;
  line-height: .9;
  text-align: center;
  padding: 8rem .5rem 1rem .5rem;
}

.wrapper-section-compiler {
  margin-top: -.5rem;
  width: 100%;
  background-color: rgb(18, 18, 18);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: scroll;
  height: 25rem;
}

.wrapper-section-compiler img {
  padding: 0 1.5rem;
  height: 22rem;
}


.wrapper-section-education::-webkit-scrollbar,
.wrapper-section-ui::-webkit-scrollbar,
.wrapper-section-schedule::-webkit-scrollbar,
.wrapper-section-compiler::-webkit-scrollbar {
  -webkit-appearance: none;
}

.wrapper-section-education::-webkit-scrollbar:horizontal {
  height: 7px;
}
.wrapper-section-ui::-webkit-scrollbar:horizontal,
.wrapper-section-schedule::-webkit-scrollbar:horizontal{
  height: 20px;
}
.wrapper-section-compiler::-webkit-scrollbar:horizontal {
  height: 7px;
}
.wrapper-section-education::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 133, 0.313);
  border-radius: 4px;
}

.wrapper-section-ui::-webkit-scrollbar-thumb {
  background-color: rgb(39, 39, 39);
  border-radius: 4px;
}

.wrapper-section-schedule::-webkit-scrollbar-thumb {
  background-color: rgb(18, 18, 18);
  border-radius: 4px;
}
.wrapper-section-compiler::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.44); /* var(--white);   */
  border-radius: 4px;
}

.wrapper-section-education::-webkit-scrollbar-track,
.wrapper-section-ui::-webkit-scrollbar-track,
.wrapper-section-schedule::-webkit-scrollbar-track,
.wrapper-section-compiler::-webkit-scrollbar-track {
  border-radius: 32px;
  margin-left: 2rem;
}


/* SECTION SOCIAL */
.section-social {
  margin-bottom: -3.5rem;
  background-color: var(--white);
  padding-bottom: 1rem;
}

.section-social h1 {
  font-size: 3.5rem;
  width: 100%;
  color: var(--black);
  letter-spacing: -1px;
  line-height: .9;
  text-align: center;
  padding: 8rem .5rem 1rem .5rem;
}

.wrapper-social-cards {
  margin-top: 1.6rem;
  display: grid;
  gap: 1.5rem 0;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: center;
  justify-items: center;
}

.card-social {
  color: var(--black);
  width: 18rem;
  height: 7.5rem;
  border-radius: 12px;
  border: solid 1px var(--borderNavBar);
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-social-container {
  height: 55%;
  width: 100%;
  display: grid;
  grid-template-columns: 80% 1fr; 
  align-items: center;
  justify-items: center;
}

.card-social h2 {
  font-size: 1.8rem;
  width: 75%;
  letter-spacing: -1.2px;
}
.icon-social-card {
  width: 24px;
  color: var(--mainColor);
}

#myEmail {
  font-size: 1.1rem;
  height: 2.2rem;
  margin-top: .4rem;
}

.card-social button,
.card-social a {
  height: 30%;
  font-size: 1.1rem;
  font-family: 'Inter';
  background-color: var(--mainColor);
  color: var(--white);
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 6px 32px;
}




/* TOOLS */
.textBlue {
  color: var(--mainColor);
}
.textBlue-onBlack {
  color: #B1BFF7
}
.hidden {
  display: none;
}