/* author: Valencia Arcega Luis Angel, 2022 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/*
|| SPACING SYSTEM (px): 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

|| FONT SIZE SYSTEM (px): 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: white;
  --mainColor: #4263eb;
  /* l: #5c7cfa   d: #364fc7*/
  --grayBackground: #f2f2f7;
  --bgCardKnowledges: #fff;
  /* borders */
  --border: #D9D9D9;
  --borderNavBar: #transparent;
  --borderCardContact: #d9d9d9;
  /* buttons */
  --btnTolescro: #E1E7F7;
  --btnTolescroText: #0C80FE;
  --btnExpand: #f0f0f0;
  /* #1b1b1b */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter';
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

button,
input {
  font-family: 'Inter';
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--white)
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--mainColor);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* //////////////////////////////////////////////////////////// */
/* nav bar */
.topBar {
  height: 3.3rem;
  width: 18rem;
  margin: 0;
  padding-top: 2px;
  border: 1px solid var(--borderNavBar);
  border-radius: 12px;
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.065);
}

/* ANKERS */
.topBar-anker {
  margin-top: -2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.topBar-btnSVG {
  font-size: 24px;
  color: var(--mainColor);
  --ionicon-stroke-width: 36px;
}

/* BUTTONS */
.topBar-btnDark,
.topBar-btnLight {
  border: none;
  background: none;
  margin-top: -2px;
}

.topBar-btn-p,
.topBar-anker-p {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  margin-top: -3px;
  color: var(--mainColor);
}

/* //////////////////////////////////////////////////////////// */
/* Im Angel */
.main-welcome {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.container-welcome {
  height: 30rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.welcome-img {
  height: 140px;
  width: 140px;
  border-radius: 300px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.35);
}

.wrapper-welcome-text {
  height: 60%;
  width: 95%;
  margin-top: 8px;
  text-align: center;
  color: var(--black);
}

.welcome-text-h1 {
  font-size: 2.7rem;
  letter-spacing: -1.3px;
}

.welcome-text-p {
  margin-top: 8px;
  font-size: 1.45rem;
  letter-spacing: -1px;
  line-height: 1.6;
}

/* //////////////////////////////////////////////////////////// */
/* section knowledges */
.container-projects {
  margin-top: 12rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knowledges-h1,
.projects-h1 {
  width: 90%;
  padding-top: 2rem;
  margin: 4rem 0 8px 0;
  font-size: 3rem;
  letter-spacing: -1.2px;
  line-height: 1.1;
  text-align: center;
  grid-column: -1/1;
}

.projects-h1 {
  font-size: 2.2rem;
}

/* //////////////////////////////////////////////////////////// */
/* knowledges and skills */
.container-knowledgesCards {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem 10px;
  justify-items: center;
  align-items: center;
}

.wrapper-cardKnowledge {
  width: 18rem;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--borderCardContact);
  color: var(--black);
  background-color: var(--white);
}

.cardKnowledge-h1 {
  padding-left: 12px;
  letter-spacing: -.5px;
  font-size: 28px;
  color: var(--mainColor);
}

.cardKnowledge-ul {
  --max-lines: 2;
  --line-height: 1.6;
  margin-top: 8px;
  padding-left: 2rem;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
}

.cardKnowledge-ul li {
  list-style: circle;
}

.cardKnowledge-ul:has(+ .btn-expandCard:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1.6em * var(--line-height));
  width: 100%;
  bottom: 0;
  /* pointer-events: none; */
  background: linear-gradient(to bottom, transparent, var(--white));
}

.btn-expandCard {
  appearance: none;
  min-width: 100%;
  min-height: 2.3rem;
  margin-top: 1rem;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  background-color: var(--btnExpand);
}

.btn-expandCard::before {
  content: "See All";
}

.btn-expandCard:checked::before {
  content: "Hide Skills";
}

/* Now the has selector goes in action */
.cardKnowledge-ul:has(+ .btn-expandCard:checked) {
  max-height: none;
}

/* //////////////////////////////////////////////////////////// */
/* SECTION EDUCATION */
.section-education {
  width: 100%;
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-education h1 {
  width: 85%;
  margin-top: 1.5rem;
  letter-spacing: -1px;
  font-size: 2.1rem;
  line-height: 1.1;
  text-align: center;
}

.wrapper-section-education {
  height: 11rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-education {
  height: 7rem;
  width: 12rem;
  margin: 0 .7rem 0 1.1rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 15px 10px rgba(0, 0, 0, 0.058);
}

a img {
  height: auto;
  width: 60%;
}

.ceBlue {
  background: linear-gradient(to right bottom, #e6e5ff, #a5b6ff);
}

.ceWhite {
  background-color: white;
}



/* //////////////////////////////////////////////////////////// */
/* section projects */
.container-tolescro {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-tolescro-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tolescro-heading {
  margin: 3rem 0 0 0;
  font-size: 2.9rem;
  letter-spacing: -1px;
}

.tolescro-p,
.tolescro-screens-p {
  width: 85%;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.wrapper-tolescro__screen-img {
  width: 100%;
  display: grid;
  gap: 32px 10px;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  overflow-x: scroll;
}

.tolescro__screen {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.tolescro__screen-p {
  font-size: 17px;
}

.tolescro__screen-img {
  width: 17rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* midudev ==> fancy slider
.container-sliderTolescro {
  display: flex;
  justify-content: center;
}

.container-sliderTolescro section {
  height: 600px;
  width: 900px;
  display: flex;
}

.sliderTolescro-img {
  width: 0;
  border-radius: 12px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.sliderTolescro-img:hover {
  cursor: crosshair;
  width: 200px;
  opacity: 1;
  filter: contrast(120%);
}
*/

.wrapper-ankerTolescro {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-items: center;
  align-items: center;
  background: none;
}

.anker-tolescro {
  padding: 10px 56px;
  font-size: 1.1rem;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: var(--btnTolescroText);
  background-color: var(--btnTolescro);
  /* box-shadow: 0 10px 15px -2px rgba(0, 0, 0, 0.1); */
}


/* SECTION UIS */
.projects-h2 {
  width: 100%;
  margin: 5rem 0 0 0;
  padding: 4rem 0 2rem 0;
  font-size: 4.5rem;
  letter-spacing: -1px;
  line-height: .85;
  text-align: center;
  color: #fff;
  background-color: rgb(18, 18, 18);
}


.uiJava-p {
  width: 100%;
  margin-top: -.1rem;
  padding-bottom: .2rem;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: rgb(18, 18, 18);
}

.wrapper-project-UI {
  height: 31rem;
  width: 100%;
  margin-top: -1.3rem;
  margin-bottom: -.5rem;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  justify-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgb(18, 18, 18);
}

.wrapper-project-UI img {
  width: 210px;
  margin: 0 1.2rem;
}

/* /////////////////////////////////////////////////// */
/* scrollbar for project and education */
.wrapper-project-UI::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #121212;
}

.wrapper-project-UI::-webkit-scrollbar:horizontal {
  height: 12px;
}

/* the button of scrollbar */
.wrapper-project-UI::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #404040;
}

/* the background of scrollbar */
.wrapper-project-UI::-webkit-scrollbar-track {
  margin-left: 1rem;
  background-color: #121212;
}

/* /////////////////////////////////////////////////// */
.wrapper-section-education::-webkit-scrollbar {
  background-color: var(--white);
}

.wrapper-section-education::-webkit-scrollbar:horizontal {
  height: 6px;
}

.wrapper-section-education::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #69696938;
}

.wrapper-section-education::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--white);
}


/* SECTION SOCIAL */
.section-contact {
  margin-top: 6rem;
  padding-bottom: 1rem;
  background-color: var(--white);
}

.section-contact h1 {
  width: 100%;
  padding: 8rem .5rem 1rem .5rem;
  font-size: 3.2rem;
  letter-spacing: -1px;
  line-height: .9;
  text-align: center;
  color: var(--black);
}

.wrapper-contact-cards {
  margin-top: 1.6rem;
  display: grid;
  gap: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  align-items: center;
  justify-items: center;
}

.card-contact {
  height: 7.8rem;
  width: 17rem;
  margin: 0 1rem;
  border-radius: 12px;
  border: solid 1px var(--borderCardContact);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
}

.title-contact-container {
  height: 55%;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;
  align-items: center;
  justify-items: center;
}

.card-contact h2 {
  width: 75%;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.social-card-svg {
  font-size: 24px;
  color: var(--mainColor);
}

#myEmail {
  height: 2.2rem;
  margin-top: .4rem;
  font-size: 1.1rem;
}

.card-contact button,
.card-contact a {
  height: 30%;
  width: 220px;
  padding: 6.4px 32px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-family: 'Inter';
  border: none;
  text-decoration: none;
  text-align: center;
  color: var(--white);
  background-color: var(--mainColor);
  box-shadow: 0px 5px 15px rgba(67, 117, 197, 0.172);
}



/* Footer */
footer {
  height: 5rem;
  margin-top: 9rem;
  margin-bottom: 8px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

footer a {
  margin-left: 4px;
  text-decoration: none;
}

footer img {
  width: 32px;
}

footer p {
  height: 20%;
  margin-top: 8px;
}


/* TOOLS */
.textBlue {
  color: var(--mainColor);
}

.textBlue-onBlack {
  color: #B1BFF7
}


.hidden {
  display: none;
}