@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0 0;  
}

:root {
  --black: #121212;
  --white: #fff;
  --mainColor: #4263eb; /* l: #5c7cfa   d: #364fc7*/
  --grayBackground: #f2f2f7;
  --border: #D9D9D9;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}



.container-btnDark {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 12px;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.085);
}
.container-btnDark button {
  border: none;
  background: none;
}
.iconDark {
  stroke: var(--black);
  width: 24px;
}

/* SECTION WELCOME */
.section-welcome {
  margin-top: 6rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.wrapper-section-welcome {
  width: 35rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-welcome-image {
  background-image: url('../assets/img/user.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  border-radius: 300px;
  height: 14.5rem;
  width: 13rem;
}

.section-welcome-text-container {
  margin-top: 1.6rem;
  height: 60%;
  width: 85%;
  color: var(--black);
  text-align: center;
}
.section-welcome-text-container h1 {
  font-size: 2.7rem;
  letter-spacing: -1.3px;
}

.section-welcome-text-container p {
  margin-top: .2rem;
  font-size: 1.7rem;
  letter-spacing: -1px;
  line-height: 1.5;
}



/* KNOWLEDGES */
.section-knowledges {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-knowledges h1 {
  width: 90%;
  margin: 2.4rem 0;
  text-align: center;
  font-size: 3rem;
  letter-spacing: -1.5px;
}
.wrapper-section-knowledges {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(9rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

.card-knowledges {
  height: 7rem;
  width: 9rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  user-select: none;
}

.card-knowledges h1{
  letter-spacing: -.8px;
  text-align: center;
  font-size: 1.2rem;
}

.kn1 {
  background: linear-gradient(to top left, #12b886, #38d9a9);
}
.kn2 {
  color: black;
  background: linear-gradient(to top left,#fcc419, #ffd43b);
}
.kn3 {
  background: linear-gradient(to top left, #228be6, #4dabf7);
}
.kn4 {
  color: black;
  background: linear-gradient(to top left,#e8590c, #ff922b);
}
.kn5 {
  background: linear-gradient(to top left,#364fc7, #5c7cfa);
}
.kn6 {
  background: linear-gradient(to top left, #9c36b5, #cc5de8);
}
.kn7 {
  color: black;
  background: linear-gradient(to top left, #38d9a9, #63e6be);
}
.kn8 {
  background: linear-gradient(to top left, #f03e3e, #ff6b6b);
}


main {
  height: 40rem;
}
/* TOOLS */
.textBlue {
  color: var(--mainColor);
}
.textUnderline {
  text-decoration: underline solid 6px var(--mainColor);
}