@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0 0;  
}

:root {
  --black: #121212;
  --white: white;
  --mainColor: #4263eb; /* l: #5c7cfa   d: #364fc7*/
  --grayBackground: #f2f2f7;
  --border: #D9D9D9;
}

body {
  font-family: 'Inter';
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}


/* BUTTON */
.container-btnsAppearance{
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 2.5rem;
  width: 3.5rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.085);
}
.btnDark,
.btnLight {
  border: none;
  background: none;
  cursor: pointer;
}
.iconDark {
  stroke: var(--black);
  width: 22px;
  height: 22px;
}
.iconLight {
  stroke: white;
  width: 22px;
  height: 22px;
}





/* SECTION WELCOME */
.section-welcome {
  margin-top: 19rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.wrapper-section-welcome {
  width: 35rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-welcome-image {
  background-image: url('../assets/img/user.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  border-radius: 300px;
  height: 13.5rem;
  width: 12rem;
}

.section-welcome-text-container {
  margin-top: 1.6rem;
  height: 60%;
  width: 85%;
  color: var(--black);
  text-align: center;
}
.section-welcome-text-container h1 {
  font-size: 2.7rem;
  letter-spacing: -1.3px;
}

.section-welcome-text-container p {
  margin-top: .2rem;
  font-size: 1.7rem;
  letter-spacing: -1px;
  line-height: 1.5;
}



/* KNOWLEDGES */
.section-knowledges,
.section-projects {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-knowledges h1,
.section-projects h1 {
  width: 70%;
  margin: 2.4rem 0;
  text-align: center;
  font-size: 3rem;
  letter-spacing: -1.5px;
}
.wrapper-section-knowledges {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem, 1fr));
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
}

.card-knowledges {
  border: none;
  cursor: pointer;
  box-shadow: 2px 8px 10px rgba(0,0,0,0.2);
  height: 7rem;
  width: 19rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.card-knowledges h1,
.card-projects h1 {
  font-family: 'Inter';
  letter-spacing: -.8px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.kn1 {
  color: black;
  background: linear-gradient(to top left, #12b886, #38d9a9);
}
.kn2 {
  color: black;
  background: linear-gradient(to top left,#fcc419, #ffd43b);
}
.kn3 {
  background: linear-gradient(to top left, #228be6, #4dabf7);
}
.kn4 {
  color: black;
  background: linear-gradient(to top left,#e8590c, #ff922b);
}
.kn5 {
  background: linear-gradient(to top left, #9c36b5, #cc5de8);
}
.kn6 {
  background: linear-gradient(to top left, #f03e3e, #ff6b6b);
}
.kn7 {
  color: black;
  background: linear-gradient(to top left, #38d9a9, #63e6be);
}
.kn8 {
  background: linear-gradient(to top left,#364fc7, #5c7cfa);
}


/* Modal */
.modal-skill-One,
.modal-skill-Two {
  position: absolute;
  top: 80rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 30rem;
  background-color: var(--white);
  border-radius: 18px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.container-modal-header {
  display: grid;
  grid-template-columns: 80% 1fr;
  align-items: center;
  justify-items: center;
  height: 20%;
  border-radius: 18px 18px 0 0;
  text-align: center;
}

.container-modal-header h1 {
  color: black;
  font-size: 1.5rem;
}

.btn-closeModal {
  font-size: 3rem;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
}

.ul-modal {
  margin: 1.4rem 0 0 1rem;  
}
.ul-modal li {
  padding: .7rem 1rem;
  font-size: 1.5rem;
}

.below-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 900%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(6px);  
  backdrop-filter: blur(6px);
  z-index: 5;
}




/* Section Projects */
.wrapper-section-projects {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}
.card-projects {
  height: 30rem;
  width: 20rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.pro1 {
  background: linear-gradient(to top left, var(--mainColor),#5c7cfa );
}

.pro2 {
  background: linear-gradient(to top left, var(--mainColor),#5c7cfa );
}








/* TOOLS */
.textBlue {
  color: var(--mainColor);
}
.hidden {
  display: none;
}
